.company {
    font-size: 0.14rem;
    position: relative;
  }
  .company header {
    background-image: url("../images/home\ \(1\).jpg");
    background-size: cover;
    color: #fff;
    font-size: 0.26rem;
    display: flex;
    justify-content: space-between;
    padding: 0.54rem 0.3rem 0.8rem 0.3rem;
  }
  .company header p {
    font-size: 0.36rem;
  }
  .company header .change {
    width: 1.34rem;
    height: 0.5rem;
    text-align: center;
    font-size: 0.22rem;
    background-color: #e3cc06;
    margin-top: 0.1rem;
    border-radius: 2rem 2rem 2rem 2rem;
    border: none;
    outline: none;
    color: #1b1b1a;
  }
  .company .container {
    width: 100%;
    padding: 0.87rem 0.3rem 0rem 0.3rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
    top: 1.8rem;
    background-color: #fff;
  }
  .company .container .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.24rem;
  }
  .company .container .title .form {
    font-size: 0.36rem;
    border: none;
    outline: none;
    background-color: #fff;
  }
  .company .container .title .report,.company .container .title .pay {
    font-size: 0.27rem;
    background-color: #e6eaea;
    border-radius: 0.31rem;
    border: none;
    padding: 0.15rem 0.26rem;
    outline: none;
  }
  .company .container .search input {
    width: 1.6rem;
    border: 1px solid rgba(109, 113, 113, 0.2);
    color: #86938f;
    border-radius: 0.3rem;
    text-align: center;
    padding: 0.14rem 0.06rem;
    font-size: 0.2rem;
    outline: none;
  }
  /* .company .container .search span{
    padding: 0 0.1rem;
  } */
  .company .container .search .name{
    width: 2.1rem;
  }
  .company .container .search .sure{
    color: #0EE3A0;
  }
  .company .container .search{
    display: flex;
    align-items: center;
  }
  .company .container .search .right{
    width: 0.7rem;
  }
  .company .container .search .left{
    flex-grow: 1;
  }
  .company .bot{
    margin-top: 2.2rem;
    width: 100%;
}
.company .bot .form-head{
    background-color: #EDFBF7;
    
}
.company .bot .form-main{
    background-color: #fff;
}
.company .bot .form-head td,.company .bot .form-main td{
    text-align: center;padding: 0.17rem 0;
    color: #353838; border-right: 1px solid #D3D5D4;
}
.company .bot .form-main td{
    border-bottom: 1px solid #D3D5D4;
   
    padding: 0.2rem 0;
}
.company .bot td:last-child{
    border-right: 0;
}